* {
  font-family: "Anonymous Pro", monospace;
}

.context-menu {
  position: absolute;
  padding: 0;
  margin: 0;
  width: fit-content;
  color: #fff;
  list-style-type: none;
  background-color: #222;
}

.context-menu li {
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
}

.context-menu li:hover {
  background-color: #444;
}
